// Colors

$blue: #3c4251;
$dark-blue: #283e4a;
$off-black: #20222b;
$off-white: #a5afd7;
$pure-white: #ffffff;
$purple: #8357c5;
$grey-background: #9d9d9d;
$off-grey-shadow: #eaeaea;

// Button Colors
$primary-button: #0073b1;
$secondary-button: #333745;

// Fonts Size

$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// devices

$desktop-breakpoint: 45rem;
